.mobileviewheader {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.mobileviewheader-row {
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.nav-icon {
    height: 35px;
    width: 100%;
    color: white;
}

.cart-count {
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    right: -5px;
}

@media screen and (max-width: 600px) {
    .mobileviewheader {
        display: flex;
        position: sticky;
    }
}