.productCard {
    width: 15vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard>img {
    width: 15vmax;
    height: 19vmax;
}

.productCard>div {
    display: flex;
    justify-content: flex-start;
    margin: 0.5vmax;
    align-items: center;
}

.productCardSpan {
    margin: 0.5vmax;
    font: 300 0.7vmax 'Roboto';
}

.productCard>p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
    width:100%; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.productCard>span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1vmax;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
    transform: translateY(-1vmax);
}

@media screen and (max-width:600px) {
    .productCard {
        width: 20vmax;
    }

    .productCard>img {
        width: 20vmax;
        height: 22vmax;
    }

    .productCard>p {
        font-size: 1.7vmax;
        width: 100%;
    }

    .productCard>div {
        /* margin: 0vmax; */
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font: 300 1vmax "Roboto";
    }


}