.aboutdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vmax 0;
}

.aboutdiv p {
    text-align: center;
    width: 60%;
    font-size: 1.2rem;
}

@media screen and (max-width:600px) {
    .aboutdiv {
        margin: 18vmax 0;
    }


    .aboutdiv p {
        text-align: justify;
        width: 80%;
    }
}